$blue: #043af9;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,300&display=swap");
html,
body {
    .copyright {
        text-align: center;
        padding: 1rem;
    }
    input {
        opacity: 0;
    }
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: url("./img/background.png");

    color: white;
    overflow-x: hidden;
    .about {
        .fontawesome-email-container {
            display: grid;
            justify-content: center;
            a{
            text-decoration: none;
            margin-bottom: 1rem;
            color: white;
                font-size: 20px;
                text-decoration: none;
                background-color: $blue;
                border-radius: 25px;
                padding: 14px 16px;
                text-align: center;
                margin-left: auto;
                .fontawesome-email{
                    color: rgba(205, 190, 238, 0.7);
                    margin:0 1rem;
                    
        
                }
        }}
        
        p {
            font-size: 1.2rem;
        }

        margin: 1rem;
        .about-heading {
            p .logo-text {
                font-size: 22px;
            }
        }
        .social-container {
            margin: 2rem 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transition: transform 0.1s ease;

            .fontawesome {
                color: rgba(205, 190, 238, 0.7);
            }
            .fontawesome:hover {
                transform: translate(5px, 5px);
            }
        }
    }
    .skills-container{
        display: grid;
        height: 120vh;

    }
}


.container {
    width: 100%;
    height: 100vh;
}

.hamburger {
    position: sticky;
    left: 2rem;
    top: 2rem;
    display: none;
    .line {
        width: 25px;
        height: 3px;
        margin: 3px;
        background-color: white;
    }
}

.logo {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    display: none;
    .logo-text {
        text-decoration: none;
        font-size: 72px;
        font-weight: 300;
        color: $blue;
    }
}

nav {
    width: 120%;
    margin-top: 0;
    ul {
        margin-top: 1.5rem;
        padding: 0;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        li {
            padding-bottom: 0.5rem;
            padding: 1rem;
            .nav-link {
                padding-bottom: 0.5rem;
            }
            .rohit-text {
                font-size: 3rem;
                font-weight: 400;
                color: $blue;
                padding: 0;
                font-family: "Reenie Beanie", cursive;
            }

            list-style: none;
            a {
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
                text-align: start;
            }
        }
    }
}

main {
    .skills-card {
        margin-top: 1rem;
        transition: transform 0.5s ease;
        width: 22rem;
        height: 22rem;
        margin: 1rem;
        text-align: center;

        img {
            width: 18rem;
            height: 18rem;
        }
    }
    .skills-card:hover {
        transform: translateX(-30px);
    }
    .skills-card:active {
        transform: translateX(-30px);
    }

    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 1fr 1fr;
    .hero-copyright{

        margin-top:2rem;
        display:grid;
        justify-content: end;
        width:100%
    }
    height: 70vh;
    gap: 1rem;

    .column-1 {
        margin-left: 1rem;
        margin-top: 1rem;
        display: grid;
        grid-template-rows: repeat(12, auto);
        .headline-container {
            margin-top: 1rem;
            grid-row: 1/2;

            h1 {
                padding: 0;
                margin: 0;
                font-weight: 600;
            }
        }
        .send-email-container {
            align-content: center;

            grid-row: 4/7;

            justify-self: start;
            a {
                color: white;
                font-size: 20px;
                text-decoration: none;
                background-color: $blue;
                border-radius: 25px;
                padding: 14px 16px;
            }
        }
        .subtext-container {
            grid-row: 2/4;

            p {
                font-size: 20px;
            }
        }
    }
    .card {
        margin-top: 2.2rem;
        img {
            height: 18rem;
            width: 20rem;
        }
    }
}
.carousel {
    height: 70%;
    margin-bottom: 2rem;
    display: grid;
    justify-content: center;

    .span-left {
        background-color: $blue;
        color: $blue;
        position: fixed;
        left: 3rem;
    }
}
.project-card {
    width: 24rem;
    img {
        width: 20rem;
    }

    span {
        color: $blue;
        font-size: 2rem;
        font-weight: 600;
    }
    p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    body {
        .skills-container {
            align-items: center;
            justify-content: center;

            display: grid;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            .skills-card {
                width: 28rem;
                height: 24rem;
                
                justify-self: center;
                img {
                    width: 18rem;
                    height: 18rem;
                }
            }
        }

        .carousel {
            height: 50%;
            margin-bottom: 3rem;
            margin-top: 4rem;
            .span-left {
                background-color: $blue;
                color: $blue;
                position: fixed;
                left: 3rem;
            }
        }
        .project-card {
            width: 16rem;
            img {
                height: 18rem;
                width: 22em;
            }

            span {
                color: $blue;
                font-size: 2rem;
            }
        }

        main {
            .send-email-container {
                justify-content: center;
                text-align: center;
                .send-email {
                    margin: 1rem;
                    padding: 1.2rem 1rem;
                }
            }
            width: 90%;
            height: 100%;
            text-align: left;
            .subtext {
                font-weight: 100;
                margin-top: 1rem;
                font-style: italic;
            }
            h1 {
                font-weight: 600;
            }
            img {
                margin-bottom: 1rem;
                margin-top: 0rem;
                height: 10rem;
            }
        }

        .container {
            width: 100%;
            .logo {
                font-size: 1rem;
                margin: 0;
                display: grid;
            }
        }
        nav {
            input {
                position: absolute;
                left: 2rem;
                top: 2rem;
                height: 2.5rem;
                width: 2rem;
                z-index: 2;
                opacity: 0;
            }

            input:checked ~ ul {
                transform: none;
            }
            input:checked ~ div > div:nth-child(1) {
                background-color: $blue;
                transform: rotate(130deg);
                width: 40px;
                transform-origin: 18px 7px;
            }
            input:checked ~ div > div:nth-child(2) {
                display: none;
            }
            input:checked ~ div > div:nth-child(3) {
                background-color: $blue;
                transform: rotate(-130deg);
                width: 40px;
                transform-origin: 18px -3px;
            }

            .hamburger {
                cursor: pointer;
                position: fixed;
                left: 2rem;
                top: 2rem;
                display: grid;
                width: 50px;
                height: 40px;
                .line {
                    width: 35px;
                    height: 3px;
                    margin: 3px;
                    transition: transform 0.2s cubic-bezier(0.58, 0.3, 1, 0.28);
                }
            }
            .nav-container {
                z-index: 1;
                position: fixed;
                top: 5rem;
                left: 0;
                transform: translate(-100%, 0);
                min-width: 100%;
                height: 85vh;
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: 1fr;
                background-color: #333;
                transition: transform 0.5s cubic-bezier(0.58, 0.3, 1, 0.28);
                li {
                    padding: 0;
                    transition: transform 0.1s ease-in-out;
                    align-self: center;
                    justify-content: center;
                    justify-self: center;
                    align-self: center;
                    justify-items: center;
                    a {
                        font-size: 2rem;
                        padding: 0rem;
                        &:hover {
                            transform: translate(5px, 5px);
                        }
                    }
                }
            }
        }

        .hero {
            width: 100%;
            display: grid;
            height: 120vh;
            scroll-behavior: smooth;
            justify-items: center;
            grid-template-rows: repeat(12, 1fr);
            grid-template-columns: repeat(1, 1fr);

            .send-email-container {
                margin: 1rem;
            }
            .hero-copyright{
                justify-content: center;
            }
            .card {
                img {
                    height: 16rem;
                    width: 18rem;
                }
            }
        }
    }
}
